.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-extra-bold {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.App {
  color: white;
  background: linear-gradient(to bottom left, #0D1E48, #304571);
  overflow-x: hidden;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;

  &:hover {
    color: transparent;
    background: linear-gradient(to bottom right, #EBFF00, #FF70D9);
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.5s ease;
  }
}

.container {
  max-width: 1088px;
  padding-left: 80.25px;
  padding-right: 80.25px;
  margin-left: auto;
  margin-right: auto;
}

@media (width <= 1080px) {
  .container {
    max-width: 709px;
    padding-left: 29.5px;
    padding-right: 29.5px;
  }
}

@media (width <= 725px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
