.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-extra-bold {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.App {
  color: white;
  background: linear-gradient(to bottom left, #0D1E48, #304571);
  overflow-x: hidden;
}

.header {
  background-color: black;
  height: 80px;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;

  &__container{
  
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
  }

  &__shop-icon {
    position: absolute;
    left: 0;
  
    &:hover {
      opacity: 0;
      transition: 0.5s ease;
    }
  }

  &__open-menu-icon {
    display: none;
  }

  &__menu-checkbox {
    display: none;
  }

  &__menu {
    display: none;
  }
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;

  &:hover {
    color: transparent;
    background: linear-gradient(to bottom right, #EBFF00, #FF70D9);
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.5s ease;
  }
}

.banner-section {
   background-image: url('../public/icons/banner-image.svg'), url('../public/icons/banner-image.svg');
   background-position: left,right;
   background-size: cover, cover;
   background-repeat: no-repeat, no-repeat;
   background-blend-mode: normal;
   /* padding-top: 91px; */
   /* padding-bottom: 61.5px; */
   
  &__image {
    height: 367px;
    animation: levitate 3s ease-in-out infinite;
  }

  &__container {
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: start;
  }

  &__title {
    font-size: 72px;

    span {
      color: #FF70D9;
    }
  }
  &__sub-title {
    font-size: 32px;

    span {
      color: #EBFF00;
    }
  }

  &__button {
    background-color: #EBFF00;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 100px;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      opacity: 60%;
      transition: 0.5s ease;
    }
  }

  @keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.container {
  max-width: 1088px;
  padding-left: 80.25px;
  padding-right: 80.25px;
  margin-left: auto;
  margin-right: auto;
}


.offers-section {
  margin-top: 60px;

  &__title {
    font-size: 32px;
  }
  
  &__button {
    background-color: transparent;
    border: 2px solid #EBFF00;
    color: #EBFF00;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 100px;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      opacity: 60%;
      transition: 0.5s ease;
    }
  }

  &__offers-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: max-content;
    gap: 40px;
  }

  &__first-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: start;
  }

  &__second-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: start;
  }

  &__third-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: start;
  } 

  &__four-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: start;
  }
}

#first-offer-container {
  grid-column: span 2 / span 2;
  background-image: url('../public/icons/offers-banner-0.svg'), url('../public/icons/offers-banner-0.svg');
   background-position: left,right;
   background-size: cover, cover;
   background-repeat: no-repeat, no-repeat;
   background-blend-mode: normal;
   padding: 35px;
   height: 280px;

   h1 {
    font-size: 72px;
  }
  h5 {
    font-size: 32px;
  }
}

#second-offer-container {
  background-image: url('../public/icons/offers-banner-1.svg'), url('../public/icons/offers-banner-1.svg');
   background-position: left,right;
   background-size: cover, cover;
   background-repeat: no-repeat, no-repeat;
   background-blend-mode: normal;
   padding: 35px;
   height: 280px;

   h1 {
    font-size: 46px;
  }

  h5 {
    font-size: 24px;
  }
}

#third-offer-container {
  background-image: url('../public/icons/offers-banner-2.svg'), url('../public/icons/offers-banner-2.svg');
   background-position: left,right;
   background-size: cover, cover;
   background-repeat: no-repeat, no-repeat;
   background-blend-mode: normal;
   padding: 35px;
   height: 280px;

   h1 {
    font-size: 46px;
  }
  h5 {
    font-size: 24px;
  }
}

#four-offer-container {
  grid-column: span 2 / span 2;
  background-image: url('../public/icons/offers-banner-3.svg'), url('../public/icons/offers-banner-3.svg');
   background-position: left,right;
   background-size: cover, auto;
   background-repeat: no-repeat, no-repeat;
   background-blend-mode: normal;
   padding: 35px;
   height: 280px;

   h1 {
    font-size: 72px;
  }
  h5 {
    font-size: 32px;
  }
}

.space-journey-section {
  
  font-size: 32px;

  &__container {
    padding-top: 62px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }

  &__title {
    font-size: 32px;
  }

  &__description {
    font-size: 20px;
    opacity: 60%;
  }

  &__link {
    font-size: 20px;
    color: #EBFF00;
    text-decoration: none;

    &:hover {
      opacity: 60%;
      transition: 0.5s ease;
    }
  }
}

.footer {
  background-color: black;

  &__container {
    height: 127px;
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  &__img {
    width: 51.85px;
  }

  &__title {
    color: #EBFF00;
    font-size: 18px;
  }
}

@media (width <= 1080px) {
  .container {
    max-width: 709px;
    padding-left: 29.5px;
    padding-right: 29.5px;
  }
  .banner-section {
    &__title {
      font-size: 48px;
      width: max-content;
    }

    &__sub-title {
      font-size: 22px;
    }

    &__image {
      position: relative;
      right: -100px;
    }
  } 
  .offers-section {
    &__offers-container {
      grid-template-columns: auto auto;
      justify-items: center;
      gap: 30px;
    }

    &__title {
      font-size: 24px;
    }
  }
  #first-offer-container {
    grid-column: span 1 / span 1;
    max-width: 269px;
    display: flex;
    align-items: flex-end;
    width: 100%;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  #second-offer-container {
    max-width: 269px;
    display: flex;
    align-items: flex-end;
    width: 100%;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  } 
  #third-offer-container {
    max-width: 269px;
    display: flex;
    align-items: flex-end;
    width: 100%;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  #four-offer-container {
    grid-column: span 1 / span 1;
    max-width: 269px;
    display: flex;
    align-items: flex-end;
    width: 100%;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  } 
}

@media (width <= 725px) {
  .header {
    &__company-logo {
      height: 24px;
    }
  }
  .header {
    position: relative;
    z-index: 1;
    height: 48px;

    &__nav{
      display: none;
    }

    &__menu {
      position: fixed;
      background-color: #754267;
      width: 40%;    ;
      height: 100%;
      top: 0;
      right: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      transform: translateX(100%);
      transition: transform 1s ease-out;

      div{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
    }

    &__open-menu-icon {
      display: block;
      cursor: pointer;
    }

    &__close-menu-icon {
      margin-left: auto;
      cursor: pointer;
    }

    @keyframes open {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes close {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
        display: none;
      }
    }
  }
  
  input[type="checkbox"]:checked ~ .header__menu {
    transform: translateX(0);
  }

  input[type="checkbox"]:not(:checked) ~ .header__menu {
    transform: translateX(100%);
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner-section {
    h1 {
      font-size: 36px;
      width: max-content;
    }

    h5 {
      font-size: 16px;
    }
    
    &__image {
      position: relative;
      right: 0;
      height: 336px;
    }

    &__container {
      flex-direction: column-reverse;
      height: 407px;
      padding-bottom: 44px;
    }

    &__content {
      align-items: center;
      text-align: center;
      row-gap: 17px;
    }
  } 
  .offers-section {
    &__offers-container {
      grid-template-columns: auto;
      justify-items: center;
      gap: 30px;
    }

    &__title {
      font-size: 18px;
    }
  }
  #first-offer-container {
    grid-column: span 1 / span 1;
    max-width: 269px;
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  #second-offer-container {
    max-width: 269px;
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  #third-offer-container {
    max-width: 269px;
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
  #four-offer-container {
    grid-column: span 1 / span 1;
    max-width: 269px;
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 40px;
    }
    h5 {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
}
